@import '../../components/styles/abstract/variables.scss';

.menuAside{
    background-color: $background-color-primary;

    display: flex;
    flex-basis: 75%;

    margin: 0 1px;
    padding: 10px 10px 0 10px;

    height: 100vh;

    .backScheduling{
        display: flex;
        flex-basis: 100%;
        margin: 0 auto;
        .scheduling{
            display: flex;
            width: 100%;
            height: 100%;
            border-color: none;
            background-color: $secondary-color;
        }
    }

}