@font-face {
    font-family: 'Amnestia';
    src: url(../../assets/fonts/Amnestia.ttf);
}

/* Fonts */
$primary-font: 'Amnestia';

/* Colors */
$primary-color: #004a56;
$secondary-color: #f9f9f9;
$third-color: #262223;
$extra-color: #b9954a;
$alert-color: #db7518;
$light-primary-color: #83adf8;
$background-color-primary: #001D22 ;
